/*
やだ！えっち！見ないで！
lllllllllllllllllllllllllllltlllllllllllllll=lll=l=lllllllllllltlltllltlltlltlltlltllllllllllllllllllllllllll=ll=ll==l=======?????=??=??=??=??=??=??=?
llllltlllllllllllllllttlltttltttttlttlllll=llllll=ll=lllllllltlltlltltlttltlltlltlltltllllllllllllllllll=llllllll=lllll=ll========?==?==?==?==??=?==?=
lltllllllltltlllltlttlttttlttltltttlltlllll=l=l=lll=lllllllllltltttlttltltttttltlltlllllllllllllllllllllll=ll=llllll==ll=llll======?==?==?==??==?=??=?
llltltlltlltlllltllttlltlttllttlltltllllllllll=l=====l==l=llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll=======?=??===?==?==?=
llllllllllllllltltltlttltttttttttltlttlll=l=============llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll=llllllll==========?=?=?=?
lllltllllltltltltlltttlttltttlttltllllll==========lllllllllllllllllllllllllll=lllllllllllllllllllllllllllllllllllllllllllllllllllllllllll=l=========?=
lllllllltltltllltltltlttltltllllltllllll=l=lllzlllllllltlltlttltttltlllllllll=l==l=llllllllll=l=l=l=ll=lllllllllllllllllllllllllllllllllllllllll======
llttttttltltltltttlttttltltltttltlltlllltltlltlttlllltltltltlltlltlllllllllllll=lll=======l=ll=lll=llll=lllllllllllllllllllllllllllllllllllllllllll===
ttttlttltttttttlttttttttttttltttlttttlttlttlttlllllttltttlttlttlllllllllllll=llll=l========l==ll=lll=llllllllllllllllllllllllllllllllllllllllllllllll=
ttltttttttttttttttttttttttttlltlttllttltltlllllltlllllltltlltllllllllllll=l=l===============l==l=l=ll=lllllllllllllllllllllllllllllttltltltlllllllllll
lttttlttltltlttlttttttlttltttltttttltltllllltlltlltltlllllllllllllllllllll====================l==ll=llll==lllllllllllllllllllltltltlltllltltltltllllll
tltltttltttttltlttltttlttltltttlltltllllllllllllllllllll=ll==l==lzgWHHHHHme==========================l=llllllllllllllllllllllllllllllltllllltlltlltlll
ttlttlttlttlttltlttltttlltltlltttlllllllllllllll===============zdNHMMM@HMHHMkmgex==?==?===============l=ll=lllllllzlllllllllllllltltllttttltltlltllttl
ltttlttltlltlltlltltllltllttltltltlltllllll==================zadNMHHHHHHHHHHMHMMHHHmx=?==?==?============l==l=l=llllllllllllllllltlltlllltltltllttlltl
lltltlltltlttltltlltltlltllllllllllllll============?=?????=uWHMHHHHHHHHHHHHHHHHHHHHHHHnz?=?=?=??==========l==l=ll=l==llllllllllltlltlltltllllltlltttlt
tlltltlltltltlltllllllllllllllll=ll=============??=??????jXMMHHHHH@HHHHHHH@HH@HHHHHHHHNHmz??=????????=======ll=llllllllllllllllllltlltllltlltllttllttl
lllllltlltllllllllllllllllllll=l==l==========?=??=?===?=uHMHHHHHH@H@@H@@@H@H@H@@H@@HHHHHMHx???==?=???========l==l=ll=l=lllllllllltlllltlltltllttltlltl
lllllllllllllllllllllllllll=l===========????????=?????1dHMH@H@@H@HH@HM@H@@H@@H@@@H@@@@HHHHHy??????=????========l=l==llllllllllllllllltlllllltllttlttlt
llllllllllllllllllllllll=============???=??=?=???????udHHH@H@H@@@@@@@M@@@@@@@@@@@@H@H@@@@HMkc>>>>???????========l==l====llllllzllllllllllllzz<<11zzztl
llllllllllllll=l===l==============?=?=??=?????????1gHHMH@H@H@@HH@M@@@W@@@@@@@@@@@@@@@@@HM@@HH+;;>>>>??????==========1=ll==llllllllllllllllz>+lv<(++<?z
===ll=l=l=l==l==l=============??=?????=??????????dHbWHHMMM@@@@M@@@ggP_WgggggHggggHH@@@@MHMHWXb::;;;>>>??????======l===l=lllllllllllv<zlllll<><<~_~<__(
=====l=l===l=========??????????????????????????1dkW5dWVWmH@@@HHmmMmH<_(HkkqkHqqqmmHHgHHWHNwwHW2::::::;;>>>>???========1====llllllv<~_(<<<;<+<;<_(;;<((
=l=======l=======????=?????????????????>??>?>>+WH91>ZXSwXHgHHHHqHkk3.._OppWppHWWHHWWWkwXVHHWWWb::::::::;;;;>>>>?????==<========z;_<__`  ``_~<>;<::~:(<
==l=l========??=??=????=????????>>?>>?>>>>>>?>d91>>>XWZXXyyHZwZW4W3<!` _1zuXzzSwuXZuZWkyyWHffWW::::::::::;;;>>>>>>?????+??======>_` ` `  `` (<.~~~_~~~
=========????????????????????>>?>?>>?>>?>>?>>>I>>>>>XWffVyWWuuuCzC````` _XvrvrIjrv2UuuXkZyWVVWp:::::::::::;:;;;>>>>>???<???===<<_ ` ` ```` ___~~~~_~~_
?=????????????????????????>?>?>??>?>>>?>>?>>>>+1>>>;XHfWyyXuuuZ(X-.-..`` _1rOOw_?rw/CuuXXZXWyVp::::::::::::;::;;;>>>>>>>+?=??<~_ `   `  .___~___.._~_-
????????????????????>?>>?>>?>>?>>>>?>>>>>>>>>>>;;;;;dHVWyZXuXW4HMH@@Y^...._?tlt:(+gQgadkXuXWZyW:::::::::::::;:::;;;;>>>>>><<<<<`    . ``````.`_._`._`
??????>?>?>?>>?>>?>>?>>?>>>?>>>>>>>>>>>>>>>;;;;;;;;;dWyWZZSuzt,UHHH9_~.~~.~__1ll(WM@HMP7CuuXZyW2;:::::::::::::;:::;;;;;><:~<~_ ` `````.``````````...``
>>>>>>?>>?>>?>>>?>>?>>?>>?>>>>>>>>>>;;;;;;;;;;;>;;;<dVyKZZSuXG~~~_~~.~~~.~~~~~?I~7U9Y=~.~OXuuZyW<<:::::::::::::::;::;;<~~~_~_``  _````````. ``````````
>>>>>>?>?>>>>?>>>>?>>?>>>>>>>;;;;;;;;;;;;;;;;;;;;;<<XyykZZXuX7n-~...~...~~.~.~~_~~~~~_~~_duuuZZyS;<:::::::::::::::::::<~~~~  ` - .`````` ```. ``.....`
;>>>>>>>>>>>>>>>>>>>;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;<jWyyHyZZXXX,?<~...................~._(HkuZZXWy$:<::::::::::::::::::<~_.``` ._-   ` ` `````` ...~.-.
;;;;;;;;;;;>;;;;;;;;;;;;;;;::;:;;::;::;::;::::;:::<dyXWHWZZZZWHHJ-...................._(XfRuXZyZWW+<:::::::::::::::<:::<___   ~~~_```````````..``._~__
;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::::::::iWXXWHXWZZZWWkHHn-..<~<<<<........-(dWfpWuXkZh?X$;<:::::::::::::::::::;_~.--~~._-~._``````` `` ..` _
;;;;;;;;;;;;;;;;;:::::::::::::::::::::::::::::::::(WVOWpHWWZZZW>_~~~(v<-........-jXHWHXWppXuXCXHww0:<:::::::::::::::<::::~~~~_~~~~~~_``` ```````` ``..
;;;;;;;;;;;;;:::::::::::::::::::_::::::::~::~:~~~:(WI?UY74WUXzX<(?z<<.~~~~~~(___-`?XWHbWbWuXC:wTpd$<:::::::::::::::::::::::~~~~~~~~_` `  ``````````.`.
;;;;;;;;;::::::::::::::::::~::~:::~:~:~:~:~::~:~:~:X<? `` (3?r> ~_:.~~~~~~~~~_<<-!`(UWS<4u7i<:+:W$:::::::::::::::::::~::<:~~~~~~~~~_``  ` ````````````
<_:~~~~:<<<~:::::::::~:~:~::~::~:::~:~:~::~~:~~:~:~(:<``. ` .<````<~~~~~~~~~~~~(`   :_T> !``z:<:wC:::::::::::~::::::::~_::~___  _`.`` ``      ``````.`
_..__..._~~~~~~~::~:::~:~::~:~::~~::::~:~::~~:~~~~~_<<````   ~-. `_.._<~~~<~.._~_```:.``` ``>:<?<::::::::::::~::~::~:~~~~~~~~...` .` ` `` ``  ````.```
~_._...........~_::~_:::~:~::~::~:~:~::~:~~~~~~~~~~~~(`````_`.` ``.`.........`.-_~-.!....```<:::::::::::::~:~::~::~:~::__~.~~_```````    ` ```````````
._.` ...```````  __~:~:~::~:~:~~:::~:~~~~~~~~~~~~~.~~( ```` _ .`  ._``````````.``!?-..!````.>~~~~~~~~:~~:~:~~.~:~::~~__`__ .~_.```````  `   ``````````
..`.._.`````    `  .~~~:~::~:~::~~:~~~_~~~~~~~~~__```._`````<`(~``` ~``..`````~`` `..(_````.~~~~~~:~~~~~~~~~___~~~~......_.._ ````   `  ``````````````
_` `````` ``` `  `` _~~~~:~:~:~~:~~~~~._     _ ```````:`````_.J`````..`.__```.` ._(~.:`````<~~~~~~~:~~:~:_~~~_____~.....` _._``` `    ` ` ````  ``````
``````````` ... ``` ___~:~~:~~~~~~~~___`   ` ` `` ``` (`````uUz;  .___--+-.._` ..`(X-_````.>~~~~~~~~~~__________~~~~....._...`` `  `     ``` ...`````.
......--..``...` .```.__~~~~~~~~~~~_```  ` ``` ` ` ` .(_```.zz1.(. ._``.._`.(~_._.vvX\````.~~~~~~~_` ````````__..~___~_......_ `    ` ` ``  ` ``````._
~~~~~~~____ ```````.`` ....~~__~~~~~_```````````````` .{```,+(+zwXr`` .<2(```(+J+?1r_}````>~~~~~~_`````````` .._~_~.~._......````` `  `    ```````` ._
_~::~:... ````` ````.``` -__.....~._` `   `  `` ``````.(```,&`Ozw= ``.__I` ` `,XyJx?1{```.~~~.~~~_````` ``..~~~~___._ `._`  .    ```   `  `   `````.`.
....~____. `    .```...__... - `.````` `` ``` ``  ```..(-```=-.uZ-`  ``.(.```.dzzzZ1J````<.~.~.__` `` `  ...._.```. ````    ..... `  `   `     ```..`.
...........~__..`````..` _... `````. `````   ```` `....~>````_1JJJ+ux. c<{._zZuuzX&/````.~.... ` ``````` ``````````        `    `` ``   ` ```````````.
-~~~~~_.~__.....`..``.````......`....... ....```` ...~..(.````.C7<!( `_(:_``.UWkkT!```` >....```````````` ```` ` `      `   ```   `   `` `    ````````
.~~~~~~~~~~_.........`.``.``` __-. _......~~_.--_~.~.~~._{```` _``.``.~~~_```(```(`````-....`..`````` `    ` `` ` `  `    `          ````````....` ```
....~~~~~~~~~:~~~_....~_~~~..- .~~~~~~.~~~~~~~~~.~.~....~1`````<_<_` ~_(>_`..!``.!````.>......````````` ``` ``` ``       `       ` ````.`````` `` `` `
.~~.~~.~~~~~~~::~~_~~~~~~~~~~_.-~~.~~.~~.~._-(<~..~..~...(``````<`.> `.<_(_~_```-```` (_...``.``````` ``  ```````  `  `     ` ``  ````..```````````` `
.~~..~.~.~~~~~~~~~~~~~~~.~~.~~~.~~~.~~.~._(lllz+--------_(.````` _``.-((.(_````.`````-_........ `````` `  ```````````` `` `  `````` .......`.``` `````
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwzwwwwwzzzzzzzzzuzzzzzzzw}``````~`` ...< ```` !````` zwwwwwwwwwOzzzyzzzzzzzzzzzzzzzzzzzzzzzzzzzzzOOwwwwwOOOOOOOOOOOOO
vvvzzzzzzzzwOll=l===z==========zOOOrrrvwZOOOOtrrtrtrrrrwwvr``````.`````.``````,``````.zvvwrvwwwwwwrrrwwwwwZZZZZwzvwOOOOOOrtrttttOrrwwwwwwwwwwwXzzzzzzz
ttttttOOOll=l====ll=lllllllllll=l==lllllll=l==llllllltttrrw``````._``````````.~````` :OrtrrtrttrtttttttttttltttttttttttttrrtttttOOOOtOOOOOzOlllzzzzzOr
<<<<<<<<1111<<<<1=lllll===11+<11+<<<1<<?=====llltOzzZwvzzzf<``````:````````` :``````._.Otttttttttttttttttttttttrrtrrtrrrtttrrttttttttlllllzz=z1<<11zOr
l=========?==??1=====1=========l=================llllOOXzX!<``````<```..-.``. ````` >.`(wtllzzzl===lllllllttttv1111zlllltllllltllllllllllllllllllttttt
=111<<??????=============z1==z<<<<<<=+<<<<<<<<<1=====lllv%`(.`````.```._!...:``````(... ?z=??=???????l=+(((+++111111-__(-_((1=============lllllltltltl
;;;>;;;;;>>><++????????=1++?<>><<><++<<<???????j!` ` _?1.> .{`````._````.``,``````.~.._/ I?????????????????>?>???>?>>??>>?>>><;;>;<<<<<<((+1===l1ltttr
???>>>>;;;;;;;>;;+?+++<<(::<<<<:<~~((((<;>>>>>>j`  `  `` ~1-(````` :``````.:`````.!_-?`` (I??>?>>>>>>>>><<<<<<<<<<>>>>>>>>>>>>;>;;;;;;;;>>>><<<:::::::
;;;;;;;;;;;;;;;;;<<<:::::::::::::::::::<<;;>>>>+ ` `  _~.!`<(_`````>```.``,````` ?! `` -!__1>>>>>>>>>>>>>>>>>>;>>>>>>;>>>>>>>;;;;;;;;;;;;;;:::<:::::::
;;;;;;;;;;;;;;;;::::::~__~~:::::::<<<<<<<<<<<<<<.`` ``.!<_`` :`````(!~~`` :`````(_  .__`..XX<>>>>>>>>;;>;>;;>;>;;;;>;;>;;;(;<;;::::::::~::~::~~~~~~~~~
;;;;;:;::::::::::::::::::::::::::::::::::::::::;<i.` `_` `  `(`...`....``.`.`.`.<_ `..(XSX3(z>>>>>;>;<<<<:_(((::<:;;;;;;;;;;;::::~__~~~~~~~~~~~~~~~~~~
?<>;::::::::::::~:~~~~~~~~~~~~~~~~:~::~:::::::::::+! >{ ` `` .-`.`..<_?!!/`..``+J+dyZuXuuV(+$>>>>>;;;;;;;<;;;;;;;;;:::<~:~~~__-~~~~~~~~~~_~.~~.~~..~..
_ ____~~~::~~~:~~~~__~~_`____~~:~~:~~:~~~~:~~::::+!.j_~` ` `` <.`.`.l(vvO~...`.WyZZyXUzzzr(>C<<<;;;;;::<::::::::::~~~~~~~~~~~~.~~.~~.~.~.~.~..~._`~..~
~____~_.-.._:::.` __~:_~____~~~~~~~~~__~:~~~~~~~(_~(%`... ...0!`````dXwCv`````(x16VUzzzzzl(;?>::::::;::;::::::~~~__~~~~__~~~.~..~..~..~...~..--......_
.~.______~~~~~<<~~~~~~_-.___:::::~~~~~__~~~~~~~/(_~J_````dyZP```````,yIz!``````(ykduzzzzzw.(JW<~~~~~~:~~:~::~~~~~~~~~~~~.~~.~.._........._`  .......
....~.__~~~~~~:~~~:::~~~~~~~~~~~~~~~~~~~~~~-_-._<~(r``   WZV````````.Wf1`.``.```.UzzzzzzzvvvvX$.~.~.~.~..___~~~~~~.~~..~.....            .           .
~.~~.~~.~~_`__~~..   ....~._.~.~~~~.--~~~~~~~.(`_(<~` ` .y0~```.`..`.Ukk`.`.`.```.uzzzzzzzvvzWS......-....____...   `        ............     ` .`. ..
~.~.~..~..~~_-__.-.._....   ```` ```  `        _ ~(` ` .XW'..`.`.`..jo(W-,/..`.<.,(XuzzzzuwZwY7_ ``_.............  ``   ........     ..`.`...     ....
~~~~~~~~~~.~~~~~~_~~~~~~~~~.~~....~.....` ...~~<` . ``.jyP.P JD`.,`/Jlz(-,U.-I.(.I.+wzzzuu0_.Zyr~~_-..  ` ``       .`..`.``............   ._ ...._ ._.
  ``  ``___~_ ~__   ............~.._   ..~~~~.~__.> `.:Jyr/-JW>.W}.k1<<<1Jv;(Ol >+((OzzzuZU<<_(k........._ ` .`````...._._............      ..```_.~~~
~~~~~~~~__...        `  `......_`....~~~~~~~~~..(:{` >_WXiJWW=.ff.Jyk.((J+1o(yu/(JwwZZZOzn++;d0<:............    ```` ...._`` ` ........_` `` ```` . .
l===??<<+(____~.   ` ..      ` `    `_....____..~(! <~(yuu$XAdW-.WyXWVykwXVW/VVVadZz+zzI (jzvUuXh~.~~.~......      ```` `.   ``        ...    `    .`.
__<+1==l===z++<_~~~_...`       `` ``` `` `  ``..-. <~~JSzu$XXWyuuXUt(XuuuuXVVVVVyZXuzzI!~(:j++OZU/...~...     ``````   ` `` .......   ....... `  .   `
` ~:::::<<?1llz?<_~~~~~~~~~_-..        ``  ``. . .  <JW?zut(uXWuzzkl-<w7zXXVkXdVyZXzzzzzl(<j<+dyZb~~.~.~.... .......... ``````````  ``   .......`.
``` `__```` ~<?=1?<~~~:(;;;;;:::_(__-..      ``   _.k+d>:z>(kuWXzz+u-.(~(XXkvwXyyXuvzwzw-JIz(ykdzU-    `   `` ```.`_    ` ```...` ```````..`   .......
`````````````` <1=?<:~::::;;;;;;;;;;:::~_.  ..  `._zzXV<:(..XuXkzzr?&_~?zZYOwy<<?Tz>~(zzzZZHZZHZZw2~~~~~~_.. ```             ```` ``````   ......._~~~
`````````.``.`` ~<?+<::::;::;:;;;;;;___~~~~~~~~~~_.JzXI>>I..(uuWzz&zX$<~<OXu+dk+?<-<~?7~(?XHZZHZyyX-~~__. ....-.......-.~..~~.~~.~..~~~~~~~~~~~~~~~~~~
``.``.`.```.````` ~<<<;;;;;;;;;;::<<::<~~~~:~~:~~~(kzuZC+I..(kzXkzzzz-Jvz_?_;jyV1z><<>>>++zOXZWyZZyr~~~~~~~~~~~~~.~.~~~~.~~.~~~~~~~~~~~~~~:~:::::::~::
``````.  `````..```-<;<<><++++><<~:~~~~~::___((((((Vwz&zX0~..XuzWzzzzzXXoJ1>j+<+z<jz+~<<<+dzdZWyZZZW_~~~~~~~~~~~~~~~~~~~~~~~~~~~~~:~::~:::~::~:~::~:~:
```.`....~_..``````` ~~`` ~<!~_~::~~~~:;;;;;;;;;;;j.,?uXH0..~(uzZkzzzzzXz(wXXI+Z(~(zz7-(z(uwZZWyyyXUr:::~::~::::~::~~~__((((((:~::~:~::~:~:~~((((<<<<<
`````. ..~~~_`_~..``````.```````````````     _```_< ...XSI...(kzzXzzzzzzXzzwuyl~(XzzwzzwzXKZZZXyyG-(1::~::~:::(((((;;;;;;;;;;;;:~::~:~:~::~::<<<::~((+
``.`..  `.```` _~~_.``.``````.`.```.```.``````````?-.1XHuI..~.Xzzzkvvzzzwwzk0ZkdZZzzzzzXzXSuuZWyZZ$1(<~:~~:<;;;;;;;;;;;;;;;;;;<:~~::~:~:~:~:~:~~:~:+??
``......~ `````````````.``.`.`.`...`...`.`.```````<?&JWSz$~..~(zzzdwvzzzzXzkXXZZX0zzzzz0zXuuuuWWyyk(<c::::(;;;;;;;;;;;;;;;;:::~:~::~:::::::::_:::~::::
::__~..~_``.``.`````.``..`..`.`.`.`.`.`.`.......`.><?XWuy$....(zzzzSvvvvzwZWyZ=?zzzzvvwzzRuZuuXWyyyk-1;;;;;;;;;;;;;;;;;;;;>??==+;::::(<+<<<<<<<~_`__~_
:~:~::~__--...`.`.``.`.`..`..`..`......`.``.``.`.`Cw+JXuy].._._uzzzZkvvvvvzUXl` jvvvvzXzwS&uuZXWyyyyk0;;;;;;;;;;;;;;;;;;;;<;<<<<<<<<!!!<___(:<~```````
~~_____~<<<<::__..`...`.`..`..............`.`.`.`.iVzXUzyN.~~..OzzvvXzvvvvvvwz<`.1vvvw0zXuuuuuXWZZZZZX;;;;;;;;;;;;;<<<~```````````````````````````````
`..........._::::_-..`..`.`.`....-_...............JIJuzzXH[...~jzzvvzkzzvZOwZV2_ ?wzvwzzkuuuZuXW0IzZZX_~<<<!!!!~~```````````````````````````.  .. .```
`.........._:::::~~~~-.~~.~~~~.~~~~~~~~~~...~~~~.~Zk<XzzXyW-...(zzvvzXzI<<(<<<<<!_jwz0zXSuuZkZXXIdZZZX:.~~~~~~.~_-.``````.``.``.``.````````` _~~_`````
`````....~..__~~~~~~.~..~~~~~~~~.~~~~....~~~.~.~~_WXzuzvXyXr....zzvvvzf<<>>>?I+zl.,7?uzXZZZZZVTC?7TZZur~_...._~__~~. ```.```````````.``.``````````````
``````. _ ``.` _~~~.........___......._...~.~.~~.(yzvvzzXyZW-`` Xvvvv2(<;::;+kvvZ7?. .l((V7Zn-((C~(<<u$~_.`....~_ ```..~..~.-```.````````.``````````.`
`.````````.``. ____`._~._ `.``.`............~... .XXvvvvXkZX[`.`jzvvvzwo(++-(wvv&  - ??jX_~<C(+(J.(Ow->~~_..-_~~._```...~..~_. ..``.`````...-. `.`````
`.`..``````.````.``.` __............_.  .~.......(zvvvvvXSZXk```(kvvvvvdXvvvduvvvw+wv--1<?3J(<c?T3;J77r~~~~~~~~~_-.``. _._`-_::~~__~~~.``` ......~.. `
:~~~:~_..`````.``.``````````............~.~~~~~..JzvvvvwSuuX0_``.RvvvvvvSvvvXXzvvvvI .uW0&dV>:v1-~~u&J>~:~~~~~~~~~_. .`````_:~~~~.~...~~ ``` `_...~..
:~~~~~~~ `.``.````````.`.`..` _ ..~~..~.~....~.~~XvvwwwZXzzXy````UvvvvvvZkvzXXzzvvvvzzuC~(3(V<__u-JZuXr~~~~~__..........-.._~~~~~~~~~~~..- ````` ..._`
_ `````````````.`.``.``.`.-````` ...~..~.~.~...~_4kWHUzzzzzKk````(vvvvvvzWXzSwzzvvvvzuZyyyyV&J .duX=_..~.~.~.........._~~_:~:~~~~~~~~~.~~~~_.`` -__..`
``.``.``.``.``.```.```..-_.`.`` ....__````.`..__``?7SzzzzzwHf````.kzvvvvvwWXSdzzvvvvzzXyyyyyWWuuXY~.~~~.~~.~~.~.~.~..~_~::::::~~~.~.~.~~.~~~~~~~~~~~~.
~~~~~_```.`..      ` ._`.......~.~_``.```  .(zz+-`..JUyzvvdZD````.jwzvvvvzXk0zXzvvvvvvXyyyyySf<!........~..........~._~:::~::::~~_~~.~~~~~~~~~~.~..~..
__~~__ `` ~_-...........-. `  _.....``` ...(zOll<...?CwWXwHZ]```` ._?TkXyWmSkvzvvvvvvvXZZyyyu{~.....................~~(:::~:~::::~~~~~~~~~~~~~~..~~.~.
..  `````...~.~..~...._```` ........ .....(::<1v!......._?TU\```` ..~~?TTWHSSzvvzzzvvzwX0Y=~.~.~~..~..~~.~~.~~.~.~..._<<~::~:~:~~~~~~~~~~~~~~~.~~.~.~~
 .....~.....~..~....`````````._......... ~:::::__.....~..~._:```. ...~~~~cTUwWKHWkkf77~>~.~.~.~.~.............~.~..~..._~~~:~:~~~~~~~~~~~~....~.~.~~.~
   ....~..._``..`` .``.````````.`.`_....._~::~~..._...~~.~.(!````. ....._>(<~_?T777>~~_l.~.~.~.~.~~.~.....................___... ``............~.~.~.~
  ```  `` ````.``````.``.`.`.```````` ...._~~~_.__`` _.~.~~(~`````......(:.l~~~~~~~~~..(_.~.~.~.~.~..~...~..~.......~.........``````........__` ._....
  ```````````` .....```.``````.``.` -_...__~~:~~~._-....~..(_``.```.....-<~i~~~__..``.` l~.~.~.~.~.~...........~..~....~... ``````````````````````````
*/
body {
    background-color: #C0C0C0;
    text-align: center; 
}

/* 右から流れる文字 http://plustrick.com/coding_css_marquee/ */
.murquee {
    height: 60px;
    overflow: hidden;
}
.murquee p {
    font-size: 160%;
    font-weight:bold;
    font-style:oblique; 
    transform:translateX(100%);
}
.animation1 {
    animation: murquee1 10s linear infinite;
    -moz-animation: murquee1 10s linear infinite;
    -webkit-animation: murquee1 10s linear infinite;
}
@keyframes murquee1 {
    0%  {transform:translateX(100%);}
    100% {transform:translateX(-100%);}
}  
@-moz-keyframes murquee1 {
    0%  {-moz-transform:translateX(100%);}
    100% {-moz-transform:translateX(-100%);}
}  
@-webkit-keyframes murquee1 {
    0%  {-webkit-transform:translateX(100%);}
    100% {-webkit-transform:translateX(-100%);}
}

/* tabメニューについて http://fukafuka295.jp/hp/tab_menu.html */
ul.tab {
	list-style: none;
}
ul.tab li {
    float: left;
    margin-right: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    color: #666;
    cursor: pointer;
}
ul.tab li:hover {
    color: #FF0000;
}
ul.tab li.active {
    background-color: #999;
    color: #fff;
}
div.tabContent {
    clear: both;
    border: 0px solid #ccc;
    padding: 20px;
    /*width: 300px;*/
    display: none;
}
div.active {
    display: block;
}